/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #5ccb5f;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
}

/* Estilos del formulario */
#contacto {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #00AAE4;
    color: white;
    font-size: 1.1rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0078b3;
}

button:active {
    transform: scale(0.98);
}

/* Estilos de las secciones del formulario */
h3 {
    color: #5ccb5f;
}

footer p {
    margin: 0;
}
